.view {
    background-color: lightgrey;
    border-left: 1px solid black;
    /* border-top: 1px solid black; */
}

.tabBar {
    background-color: darkgrey;
}

.tab {
    background-color: midnightblue;
    color: white;
}

.tabActive {
    background: blueviolet;
}

.tabClose {
    background-color: darkgrey;
}

.tree {
    background: darkgrey;
    border-right: 1px solid rgb(109, 109, 109);
}

.branch {
    background: midnightblue;
    color: white;
    padding-left: 10px;
}

.branch:hover {
    background: aquamarine;
    color: midnightblue;
}

.branches:hover {
    border-left: 1px solid aquamarine;
}

.tab:hover {
    background: aquamarine;
    color: midnightblue;
}

.tab:active {
    background: aqua;
    opacity: 0.9;
}

.tabClose {
    background: aquamarine;
}

.tabClose:hover {
    background: rgba(20,20,20, 0.2);
}