/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #000000 #ff0000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #ff0000;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 5px;
    border: 0px none #000000;
}