.scrollpane {
    --SCROLLBAR_COLOR: rgba(10, 10, 10, 0.5);
}

.scrollpane {
    height: 100%;
    width: 100%;
}

/****************************** SCROLLBAR ******************************/
/* Firefox */
.scrollpane {
    scrollbar-width: 0.75rem;
    scrollbar-color: var(--SCROLLBAR_COLOR) transparent;
    overflow-y: overlay;    /* Scrollbar overlays content */
    overflow-x: hidden;     /* Hide horizontal scrollbar */
}

/* Chrome, Edge, and Safari */
.scrollpane::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

.scrollpane::-webkit-scrollbar-track {
    background: transparent;
}

.scrollpane::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--SCROLLBAR_COLOR);
}

/* Scrollbar Hidden */
.scrollpaneHidden {
    scrollbar-color: transparent transparent;
}

.scrollpaneHidden::-webkit-scrollbar-thumb {
    background-color: transparent;
}
