.draggable {
    position: absolute;
    top: -1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: var(--FONT);
}
