.root {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    /* TODO: Gotta figure out this TAB-HEIGHT issue...
    Should calculate this in javascript code and pass
    it into classes that need it as a style */
    height: calc(100% - var(--TAB-HEIGHT));
    width: 100%;
}

.dropZone {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    z-index: 1;
}

.dropZoneDisplay {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: var(--HOVER_COLOR);
}
