.root {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100%;
    width: 100%;
}

.dropZone {
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    z-index: 1;
}

.dropZoneDisplay {
    position: absolute;
    /* top: 0.35rem;
    right: 0.35rem;
    bottom: 0.35rem;
    left: 0.35rem;

    border-radius: 5px; */

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: var(--HOVER_COLOR);
}
