/* Global CSS Variables */
:root {
    --BARATHEON_COLOR_PRIMARY: #ff8080;
    --BARATHEON_COLOR_PRIMARY_DARK: #120D31;
    --BARATHEON_COLOR_SECONDARY: #e0e0e0;
    --BARATHEON_COLOR_WHITE:  #FAFAFF;
    --BARATHEON_HOVER_COLOR: rgba(10, 10, 10, 0.5);
    --BARATHEON_BORDER: 1px solid var(--BARATHEON_COLOR_PRIMARY_DARK);
    --BARATHEON_BORDER_DASHED: 1px dashed var(--BARATHEON_COLOR_PRIMARY_DARK);
    --BARATHEON_BORDER_RADIUS: 15px 0 0 15px;
}


.tuple {
    background-color: var(--BARATHEON_COLOR_PRIMARY);
}

.draggable {
    border: 1px solid var(--BARATHEON_COLOR_WHITE);
    background-color: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
}

/***********************************************************************************************************************
 * Tree
 ***********************************************************************************************************************/

.tree {
    box-shadow:  inset 13px 13px 22px #644545,
    inset -13px -13px 22px #ffdbdb;
    color: var(--BARATHEON_COLOR_PRIMARY_DARK);
    top: 0;
}

.branch {
    background: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
    border-bottom: none;
    border-radius: var(--BARATHEON_BORDER_RADIUS);
    margin-left: 0.2rem;
}

.branch:hover {
    cursor: pointer;
    background: var(--BARATHEON_HOVER_COLOR);
}

.branches {
    border-left: var(--BARATHEON_BORDER_DASHED);
    margin-left: 0.8rem;
}

.leaf {
    padding: 0.1rem;
    padding-left: var(--PADDING_HORIZONTAL);
}

.leaf:hover {
    background: var(--BARATHEON_HOVER_COLOR);
    cursor: pointer;
    border-radius: var(--BARATHEON_BORDER_RADIUS);
}

.root {
    box-shadow:  13px 13px 22px #7a3d3d,
                -13px -13px 22px #ffc3c3;
    border-radius: 48px;
    border: none;
    margin: 0.5rem;
    margin-top: 0;
}

.rootlets {
    background: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
    margin-left: 0.5rem;
    border-radius: 0 0 0 10px;
}

.rootletTextBox {
    color: var(--BARATHEON_COLOR_WHITE);
}

.rootletTextBox:hover {
    border-bottom: 1px solid var(--BARATHEON_COLOR_WHITE);
}

.rootletTextBox:focus {
    border: 1px solid var(--BARATHEON_COLOR_WHITE);
    border-radius: 5px;
}

/***********************************************************************************************************************
 * Viewport
 ***********************************************************************************************************************/

.view {
    border-left: var(--BARATHEON_BORDER);
    border-top: var(--BARATHEON_BORDER);
}

.tabBar {
    background-color: var(--BARATHEON_COLOR_SECONDARY);
    color: var(--BARATHEON_COLOR_PRIMARY_DARK);
}

.tabClose:hover {
    background: var(--BARATHEON_HOVER_COLOR);
}

.tab {
    border-right: var(--BARATHEON_BORDER);
}

.tab:hover {
    background: var(--BARATHEON_HOVER_COLOR);
}

.tabActive {
    background: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
    border-radius: 0px 10px 0 0;
}

.tabActive .tabClose:hover {
    background: var(--BARATHEON_COLOR_WHITE);
    color: var(--BARATHEON_COLOR_PRIMARY);
}
