/* Global CSS Variables */
:root {
    --BARATHEON_COLOR_PRIMARY: #ff8080;
    --BARATHRON_COLOR_PRIMARY_UNFOCUSED: #fb8989;
    --BARATHEON_COLOR_PRIMARY_DARK: #7a3d3d;
    --BARATHEON_COLOR_PRIMARY_LIGHT: #ffc3c3;
    --BARATHEON_COLOR_SECONDARY: #e0e0e0;
    --BARATHEON_COLOR_WHITE:  #FAFAFF;
    --BARATHEON_HOVER_COLOR: rgba(10, 10, 10, 0.5);
    --BARATHEON_BORDER: 1px solid var(--BARATHEON_COLOR_PRIMARY_DARK);
    --BARATHEON_BORDER_DASHED: 1px dashed var(--BARATHEON_COLOR_PRIMARY_DARK);
    --BARATHEON_BORDER_RADIUS: 15px 0 0 15px;
}


.tuple, .viewport {
    background-color: var(--BARATHEON_COLOR_PRIMARY);
}

.draggable {
    border: 1px solid var(--BARATHEON_COLOR_WHITE);
    background-color: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
}

/***********************************************************************************************************************
 * Tree
 ***********************************************************************************************************************/

.tree {
    background: linear-gradient(145deg, #ff8989, #e67373);
    box-shadow:  10px 10px 15px #b35a5a,
                -10px -10px 15px #ffa6a6;
    color: var(--BARATHEON_COLOR_PRIMARY_DARK);
    border: none;
    margin: 1.2rem;
    height: calc(100% - 2.4rem);
    border-radius: 48px;
    overflow: hidden;
}

.tree .scrollpane {
    box-shadow: inset 8px 8px 17px #df7a7a,
                inset -8px -8px 17px #ff9898;
}

.branch {
    background: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
    border-bottom: none;
    border-radius: var(--BARATHEON_BORDER_RADIUS);
    margin-left: 0.2rem;
}

.branch:hover {
    cursor: pointer;
    background: var(--BARATHEON_HOVER_COLOR);
}

.branches {
    border-left: var(--BARATHEON_BORDER_DASHED);
    margin-left: 0.8rem;
}

.leaf {
    padding: 0.1rem;
    padding-left: var(--PADDING_HORIZONTAL);
}

.leaf:hover {
    background: var(--BARATHEON_HOVER_COLOR);
    cursor: pointer;
    border-radius: var(--BARATHEON_BORDER_RADIUS);
}

.root {
    border-radius: 48px;
    border: none;
    margin: 0.5rem;
    margin: 1rem;
    margin-bottom: 0rem;
}

.rootlets {
    background: var(--BARATHEON_COLOR_PRIMARY);
    color: var(--BARATHEON_COLOR_WHITE);
    margin-left: 0.5rem;
    border-radius: 0 0 0 10px;
}

.rootletTextBox {
    color: var(--BARATHEON_COLOR_WHITE);
}

.rootletTextBox:hover {
    border-bottom: 1px solid var(--BARATHEON_COLOR_WHITE);
}

.rootletTextBox:focus {
    border: 1px solid var(--BARATHEON_COLOR_WHITE);
    border-radius: 5px;
}

/***********************************************************************************************************************
 * Viewport
 ***********************************************************************************************************************/

.view {
    border: none;
}

.page {
    box-shadow: inset 8px 8px 17px #df7a7a,
                inset -8px -8px 17px #ff9898;
}

.tabBar {
    background-color: transparent;
    color: var(--BARATHEON_COLOR_WHITE);
    padding-top: 0.25rem;
    border: none;
}

.tabClose:hover {
    background: var(--BARATHEON_HOVER_COLOR);
}

.tab {
    background: var(--BARATHRON_COLOR_PRIMARY_UNFOCUSED);
    box-shadow: inset 8px 8px 17px #df7a7a,
                inset -8px -8px 17px #ff9898;
    border-radius: 10px 10px 0 0;
    border: none;
    z-index: 2;
}

.tab:hover {
    background: var(--BARATHEON_HOVER_COLOR);
    box-shadow: none;
}

.tabActive {
    background: linear-gradient(145deg, #ff8989, #e67373);
    box-shadow:  10px 10px 16px #d96d6d,
                -10px -10px 16px #ff9393;
    z-index: 1;
}

.tabActive .tabClose:hover {
    background: var(--BARATHEON_COLOR_WHITE);
    color: var(--BARATHEON_COLOR_PRIMARY);
}
