/* Global CSS Variables */
:root {
    --COLOR_PRIMARY: #231A61;
    --COLOR_PRIMARY_DARK: #120D31;
    --COLOR_SECONDARY: #F2F2FC;
    --COLOR_WHITE:  #FAFAFF;
    --HOVER_COLOR: rgba(10, 10, 10, 0.5);
    --BORDER:        1px solid var(--COLOR_PRIMARY_DARK);
    --BORDER_DASHED: 1px dashed var(--COLOR_PRIMARY_DARK);
    --BORDER_RADIUS: 15px 0 0 15px;
}


.tuple {
    background-color: var(--COLOR_WHITE);
}

.draggable {
    border: 1px solid var(--COLOR_WHITE);
    background-color: var(--COLOR_PRIMARY);
    color: var(--COLOR_WHITE);
}

/***********************************************************************************************************************
 * Tree
 ***********************************************************************************************************************/

.tree {
    border-right: var(--BORDER);
    background-color: var(--COLOR_SECONDARY);
    color: var(--COLOR_PRIMARY_DARK);
}

.branch {
    background: var(--COLOR_PRIMARY);
    color: var(--COLOR_WHITE);
    border-bottom: none;
    border-radius: var(--BORDER_RADIUS);
    margin-left: 0.2rem;
}

.branch:hover {
    cursor: pointer;
    background: var(--HOVER_COLOR);
}

.branches {
    border-left: var(--BORDER_DASHED);
    margin-left: 0.8rem;
}

.leaf {
    padding: 0.1rem;
    padding-left: var(--PADDING_HORIZONTAL);
}

.leaf:hover {
    background: var(--HOVER_COLOR);
    cursor: pointer;
    border-radius: var(--BORDER_RADIUS);
}

/***********************************************************************************************************************
 * Viewport
 ***********************************************************************************************************************/

.view {
    border-left: var(--BORDER);
    border-top: var(--BORDER);
}

.tabBar {
    background-color: var(--COLOR_SECONDARY);
    color: var(--COLOR_PRIMARY_DARK);
}

.tabClose:hover {
    background: var(--HOVER_COLOR);
}

.tab {
    border-right: var(--BORDER);
}

.tab:hover {
    background: var(--HOVER_COLOR);
}

.tabActive {
    background: var(--COLOR_PRIMARY);
    color: var(--COLOR_WHITE);
    border-radius: 0px 10px 0 0;
}

.tabActive .tabClose:hover {
    background: var(--COLOR_WHITE);
    color: var(--COLOR_PRIMARY);
}
