/* Global CSS Variables */
:root {
    --LANNISTER_COLOR_PRIMARY: #231A61;
    --LANNISTER_COLOR_PRIMARY_DARK: #120D31;
    --LANNISTER_COLOR_SECONDARY: #F2F2FC;
    --LANNISTER_COLOR_WHITE:  #FAFAFF;
    --LANNISTER_HOVER_COLOR: rgba(10, 10, 10, 0.5);
    --LANNISTER_BORDER:        1px solid var(--LANNISTER_COLOR_PRIMARY_DARK);
    --LANNISTER_BORDER_DASHED: 1px dashed var(--LANNISTER_COLOR_PRIMARY_DARK);
    --LANNISTER_BORDER_RADIUS: 15px 0 0 15px;
}

.tuple {
    background-color: var(--LANNISTER_COLOR_WHITE);
}

.draggable {
    border: 1px solid var(--LANNISTER_COLOR_WHITE);
    background-color: var(--LANNISTER_COLOR_PRIMARY);
    color: var(--LANNISTER_COLOR_WHITE);
}

/***********************************************************************************************************************
 * Tree
 ***********************************************************************************************************************/

.tree {
    border-right: var(--LANNISTER_BORDER);
    background-color: var(--LANNISTER_COLOR_SECONDARY);
    color: var(--LANNISTER_COLOR_PRIMARY_DARK);
}

.branch {
    background: var(--LANNISTER_COLOR_PRIMARY);
    color: var(--LANNISTER_COLOR_WHITE);
    border-bottom: none;
    border-radius: var(--LANNISTER_BORDER_RADIUS);
    margin-left: 0.2rem;
}

.branch:hover {
    cursor: pointer;
    background: var(--LANNISTER_HOVER_COLOR);
}

.branches {
    border-left: var(--LANNISTER_BORDER_DASHED);
    margin-left: 0.8rem;
}

.leaf {
    padding: 0.1rem;
    padding-left: var(--LANNISTER_PADDING_HORIZONTAL);
}

.leaf:hover {
    background: var(--LANNISTER_HOVER_COLOR);
    cursor: pointer;
    border-radius: var(--LANNISTER_BORDER_RADIUS);
}

.rootlets {
    background: var(--LANNISTER_COLOR_PRIMARY);
    color: var(--LANNISTER_COLOR_WHITE);
    margin-left: 0.5rem;
    border-radius: 0 0 0 10px;
}

.rootletTextBox {
    color: var(--LANNISTER_COLOR_WHITE);
}

.rootletTextBox:hover {
    border-bottom: 1px solid var(--LANNISTER_COLOR_WHITE);
}

.rootletTextBox:focus {
    border: 1px solid var(--LANNISTER_COLOR_WHITE);
    border-radius: 5px;
}

/***********************************************************************************************************************
 * Viewport
 ***********************************************************************************************************************/

.view {
    border-left: var(--LANNISTER_BORDER);
    border-top: var(--LANNISTER_BORDER);
}

.tabBar {
    background-color: var(--LANNISTER_COLOR_SECONDARY);
    color: var(--LANNISTER_COLOR_PRIMARY_DARK);
}

.tabClose:hover {
    background: var(--LANNISTER_HOVER_COLOR);
}

.tab {
    border-right: var(--LANNISTER_BORDER);
}

.tab:hover {
    background: var(--LANNISTER_HOVER_COLOR);
}

.tabActive {
    background: var(--LANNISTER_COLOR_PRIMARY);
    color: var(--LANNISTER_COLOR_WHITE);
    border-radius: 0px 10px 0 0;
}

.tabActive .tabClose:hover {
    background: var(--LANNISTER_COLOR_WHITE);
    color: var(--LANNISTER_COLOR_PRIMARY);
}
