:root {
    --PADDING_HORIZONTAL: 0.5rem;
    --PADDING_VERTICAL: 0.2rem;
}

.tree {
    height: 100%;
    border-right: 1px solid black;
    color: black;
}

.branch {
    background: black;
    color: white;
    border-bottom: 1px solid black;
    padding-left: var(--PADDING_HORIZONTAL);
}

.branch:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.branches {
    margin-left: 0.5rem;
    border-left: 1px solid black;
}

.leaf {
    padding: 0.1rem;
    padding-left: var(--PADDING_HORIZONTAL);
}

.leaf:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}