.tree {
    height: 100%;
    border-right: var(--BORDER);
    background-color: var(--COLOR_SECONDARY);
    color: var(--COLOR_PRIMARY_DARK);
}

.branch {
    padding: 2px;
    border-bottom: var(--BORDER);
}

.branch:hover {
    cursor: pointer;
    background: var(--HOVER_COLOR);
}

.branches {
    margin-left: 0.3rem;
    border-left: var(--BORDER_DASHED);
    padding-left: 0.3rem;
}

.leaf {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.leaf:hover {
    background: var(--HOVER_COLOR);
    cursor: pointer;
    border-radius: 15px 0 0 15px; /* TODO: Might be a bit much for default styles*/
}