:root {
    --PADDING_HORIZONTAL: 0.5rem;
    --PADDING_VERTICAL: 0.2rem;
}

/**********  TREE  **********/
.tree {
    height: 100%;
    border-right: 1px solid black;
    color: black;
    white-space: nowrap;  /* Prevent text wrap */
}

/**********  BRANCH  **********/
.branch {
    background: black;
    color: white;
    padding-left: var(--PADDING_HORIZONTAL);
}

.branch:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

.branches {
    margin-left: 0.5rem;
    border-left: 1px solid black;
}

/**********  LEAF  **********/
.leaf {
    padding: 0.1rem;
    padding-left: var(--PADDING_HORIZONTAL);
}

.leaf:hover {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/**********  ROOT  **********/
.root {
    font-size: 1.2rem;
    height: calc(var(--TAB-HEIGHT) + 1px);
    padding-left: var(--PADDING_HORIZONTAL);
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rootlets {
    padding-top: var(--PADDING_VERTICAL);
    padding-bottom: var(--PADDING_VERTICAL);

    background: black;
    color: white;
}

.rootlet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.rootletTextBox {
    color: white;
    background: transparent;
    border: none;
    width: 100%;
    margin-right: var(--PADDING_HORIZONTAL);
    padding: 0.2rem;
    border: 1px solid transparent;
    cursor: pointer;
    width: 75%;
}

.rootletTextBox:hover {
    border-bottom: 1px solid white;
}

.rootletTextBox:focus {
    outline: none;
    border: 1px solid white;
    cursor: text;
}

.symbolContainer {
    margin-left: var(--PADDING_HORIZONTAL);
    padding-right: var(--PADDING_HORIZONTAL);
}

.trashcan {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0, 0.5);
    color: white;

    height: 10rem;
    width: 100%;
    bottom: 0;

    font-size: 4rem;
}

.trashcanHover {
    background: rgba(0,0,0, 0.75);
    font-size: 5rem;
}