.root {
    --HOVER_THICKNESS: 20%;
    --HOVER_THICKNESS_DIFF: 80%; /* 100 - HOVER_THICKNESS */
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100%;
    width: 100%;
    /* z-index: 1; */
}


/* DropZone Display */
/* TODO: offset by TAB-HEIGHT */
.dropZoneDisplayTop {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;

    background: var(--HOVER_COLOR);
}

.dropZoneDisplayRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;

    background: var(--HOVER_COLOR);
}

/* TODO: offset by TAB-HEIGHT */
.dropZoneDisplayBottom {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;

    background: var(--HOVER_COLOR);
}

.dropZoneDisplayLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;

    background: var(--HOVER_COLOR);
}
