/* Fallback to vh */
:root {
  --dynamic-height: 100vh;
}

/* Use dvh if supported */
@supports (height: 100dvh) {
  :root {
    --dynamic-height: 100dvh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: var(--dynamic-height);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.view {
  flex: 1 0 100%;
  scroll-snap-align: start;
}
