.root {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    /* TODO: Gotta figure out this TAB-HEIGHT issue...
    Should calculate this in javascript code and pass
    it into classes that need it as a style */
    height: 100%;
    width: 100%;
}

.dropZone {
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 20%;
    z-index: 2;
}

.dropZoneDisplay {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: var(--HOVER_COLOR);
}
