:root {
    --PADDING_MEDIUM: 0.5rem;
    --PADDING_SMALL: 0.2rem;
}

.tabBar_base {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    /* overflow-y: auto; */
    background: var(--COLOR-PRIMARY-2);
    border-bottom: 1px solid var(--COLOR-SECONDARY-3);
}

.tabBar_dragOver {
    background: var(--COLOR-PRIMARY-3);
}

.tab_base {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;

    min-width: 5rem;
    max-width: 12rem;
    height: var(--TAB-HEIGHT);
    padding-left: var(--PADDING_MEDIUM);
    padding-right: var(--PADDING_SMALL);

    border-right: 1px solid var(--COLOR-SECONDARY-3);
    background: var(--COLOR-PRIMARY-2);
    color: var(--COLOR-SECONDARY-1);

    cursor: pointer;
    overflow: hidden;
    font-size: 0.85rem;
}

.tab_hover {
    background: var(--COLOR-PRIMARY-3);
    color: var(--COLOR-SECONDARY-1);
}

.tab_dragOver {
    background: var(--COLOR-PRIMARY-3);
    color: var(--COLOR-SECONDARY-1);
}

.tab_active {
    background: var(--COLOR-SECONDARY-1);
    color: var(--COLOR-PRIMARY-1);
}

.tabLabel {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabCloseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabClose_base {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    width: 1.2rem;
    height: 1.2rem;

    cursor: pointer;
}

.tabClose_hover {
    background: var(--COLOR-PRIMARY-1);
}

.tab_active .tabClose_hover {
    background: var(--COLOR-SECONDARY-3);
}
