:root {
    --PADDING_MEDIUM: 0.5rem;
    --PADDING_SMALL: 0.2rem;
}

.tabBar {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    /* overflow-y: auto; */

    border-bottom: 1px solid black;
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    padding-left: var(--PADDING_MEDIUM);
    padding-right: var(--PADDING_SMALL);
    min-width: 5rem;
    max-width: 8rem;
    flex-shrink: 0;
    height: var(--TAB-HEIGHT);

    cursor: pointer;

    border-right: 1px solid black;
}

.tabLabel {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabCloseContainer {
    width: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tabClose {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.tabClose:hover {
    background: black;
    color: white;
}

.tabActive {
    background: black;
    color: white;
}

.tabActive .tabClose:hover {
    background: white;
    color: black;
}
