.tabBar {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: auto;

    background-color: var(--COLOR_SECONDARY);
    color: var(--COLOR_PRIMARY_DARK);
    border-bottom: var(--BORDER);
}

.tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;

    padding-left: 4px;
    padding-right: 1px;
    min-width: 80px;
    max-width: 120px;
    flex-shrink: 0;
    height: var(--TAB-HEIGHT);

    cursor: pointer;

    border-right: var(--BORDER);

}

.tabLabel {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabCloseContainer {
    width: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tabClose {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.tabActive {
    background: var(--COLOR_PRIMARY);
    color: var(--COLOR_WHITE);
    border-radius: 0px 10px 0 0;
}