/* Global CSS Variables */
:root {
    --FONT: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --COLOR_PRIMARY: #231A61;
    --COLOR_PRIMARY_DARK: #120D31;
    --COLOR_SECONDARY: #F2F2FC;
    --COLOR_WHITE:  #FAFAFF;
    --TAB-HEIGHT: 30px;
    --HOVER_COLOR: rgba(10, 10, 10, 0.5);
    --BORDER:        1px solid var(--COLOR_PRIMARY_DARK);
    --BORDER_DASHED: 1px dashed var(--COLOR_PRIMARY_DARK);
}

.noScrollbar {
    /* overflow: hidden; */
    overflow-y: auto;

    /* IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
    /* overflow: hidden; */
    display: none;
}

.noHighlight {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }