:root {
    --GOOD_FONT: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --TAB-HEIGHT: 2rem;
    --COLOR-PRIMARY-1:      #ffffff;
    --COLOR-PRIMARY-2:      #f7f7f7;
    --COLOR-PRIMARY-3:      #eeeeee;
    --COLOR-SECONDARY-1:    #181818;
    --COLOR-SECONDARY-2:    #2a2d2e;
    --COLOR-SECONDARY-3:    #616161;
}

.noScrollbar {
    /* overflow: hidden; */
    overflow-y: auto;

    /* IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
    /* overflow: hidden; */
    display: none;
}

.noHighlight {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
