.noScrollbar {
    /* overflow: hidden; */
    overflow-y: auto;

    /* IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Chrome, Safari and Opera */
.noScrollbar::-webkit-scrollbar {
    /* overflow: hidden; */
    display: none;
}

/***************
* Container
****************/
.container {
    display: flex;
    height: 100%;
    width: 100%;
}
.containerVertical { flex-direction: column }


/***************
* Panes
****************/
.pane {
    width: 100%;
    height: 100%;
    min-width: 10px;
    min-height: var(--TAB-HEIGHT);
    overflow: hidden;
}
.paneHead { position: relative }
.paneTail { flex: 1 }


/***************
* Resizer
****************/
:root{
    --RESIZER_WIDTH: 10px;
    --RESIZER_OFFSET: -5px;
}

.resizer {
    position: absolute;
    opacity: 0;
    z-index: 2;
}
.resizerHorizontal {
    top: 0;
    right: var(--RESIZER_OFFSET);
    width: var(--RESIZER_WIDTH);
    cursor: w-resize;
    height: 100%;
}

.resizerVertical {
    left: 0;
    bottom: var(--RESIZER_OFFSET);
    height: var(--RESIZER_WIDTH);
    cursor: n-resize;
    width: 100%;
}
