/***********************************************************************************************************************
* Container
************************************************************************************************************************/
.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.horizontal { flex-direction: row; }
.vertical { flex-direction: column; }

/***********************************************************************************************************************
* Panes
************************************************************************************************************************/
.pane {
    min-height: var(--TAB-HEIGHT);
    min-width: 10px;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
}

/***********************************************************************************************************************
* Resizer
************************************************************************************************************************/
.resizer {
    z-index: 1;
    flex-shrink: 0;
    background-color: var(--COLOR-SECONDARY-3);
}

.horizontal > .resizer {
    width: 2px;
    cursor: col-resize;
    height: 100%;
}

.vertical > .resizer {
    height: 2px;
    cursor: row-resize;
    width: 100%;
}
