.view {
    background-color: lightgrey;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.tabBar {
    background-color: darkgrey;
}

.tab {
    background-color: midnightblue;
    color: white;
}

.tabClose {
    background-color: darkgrey;
}
