.view {
    background-color: lightgrey;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.tabBar {
    background-color: darkgrey;
}

.tab {
    background-color: midnightblue;
    color: white;
}

.tabClose {
    background-color: rgba(200,200,220, 0.5);
    color: rgba(0,0,0,0.8)
}

.tabClose:hover {
    background-color: rgba(200,200,220, 0.9);
    color: rgba(0,0,0,1)
}
